In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import pyproj
import shapely
from typing import List

In [2]:
community_df = pd.read_pickle('data/community_modeled.pkl')
census_summary_df = pd.read_pickle('data/census_summary-cleaned.pkl')

In [3]:
census_summary_df.head()

,Geog,GeogKey,Total Population,"Not Hispanic or Latino, White alone","Not Hispanic or Latino, Black or African American alone","Not Hispanic or Latino, American Indian and Alaska Native alone","Not Hispanic or Latino, Asian alone","Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone","Not Hispanic or Latino, Some Other Race alone","Not Hispanic or Latino, Two or More Races",...,Median Age,Total Households,Average Household Size,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Occupied Housing Units.1,Owned with a mortgage or a loan,Owned free and clear,Renter occupied
0,Rogers Park,1,54991,21618,14461,142,3523,39,202,1573,...,32.4,24292,2.13,27564,24292,3272,24292,6128,1009,17155
1,West Ridge,2,71942,30706,8015,189,16184,3,225,1919,...,35.1,24755,2.85,27466,24755,2711,24755,8829,3367,12559
2,Uptown,3,56362,29098,11275,191,6414,10,130,1235,...,35.5,29719,1.79,32541,29719,2822,29719,8298,1230,20191
3,Lincoln Square,4,39493,24916,1488,72,4399,11,128,917,...,33.5,18194,2.14,19906,18194,1712,18194,5482,1406,11306
4,North Center,5,31867,24634,738,55,1449,16,51,594,...,32.5,14561,2.18,16197,14561,1636,14561,5805,1147,7609

In [4]:
summary_transformed = census_summary_df

In [5]:
summary_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 67 columns):
Geog                                                                        77 non-null object
GeogKey                                                                     77 non-null int64
Total Population                                                            77 non-null int64
Not Hispanic or Latino, White alone                                         77 non-null int64
Not Hispanic or Latino, Black or African American alone                     77 non-null int64
Not Hispanic or Latino, American Indian and Alaska Native alone             77 non-null int64
Not Hispanic or Latino, Asian alone                                         77 non-null int64
Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone    77 non-null int64
Not Hispanic or Latino, Some Other Race alone                               77 non-null int64
Not Hispanic or Latino, Two or More Races                                   77 non-null int64
Hispanic or Latino                                                          77 non-null int64
Male: Under 5 years old                                                     77 non-null int64
Male: 5 to 9 years                                                          77 non-null int64
Male: 10 to 14 years                                                        77 non-null int64
Male: 15 to 17 years                                                        77 non-null int64
Male: 18 and 19 years                                                       77 non-null int64
Male: 20 years                                                              77 non-null int64
Male: 21 years                                                              77 non-null int64
Male: 22 to 24 years                                                        77 non-null int64
Male: 25 to 29 years                                                        77 non-null int64
Male: 30 to 34 years                                                        77 non-null int64
Male: 35 to 39 years                                                        77 non-null int64
Male: 40 to 44 years                                                        77 non-null int64
Male: 45 to 49 years                                                        77 non-null int64
Male: 50 to 54 years                                                        77 non-null int64
Male: 55 to 59 years                                                        77 non-null int64
Male: 60 and 61 years                                                       77 non-null int64
Male: 62 to 64 years                                                        77 non-null int64
Male: 65 and 66 years                                                       77 non-null int64
Male: 67 to 69 years                                                        77 non-null int64
Male: 70 to 74 years                                                        77 non-null int64
Male: 75 to 79 years                                                        77 non-null int64
Male: 80 to 84 years                                                        77 non-null int64
Male: 85 years and over                                                     77 non-null int64
Female: Under 5 years old                                                   77 non-null int64
Female: 5 to 9 years                                                        77 non-null int64
Female: 10 to 14 years                                                      77 non-null int64
Female: 15 to 17 years                                                      77 non-null int64
Female: 18 and 19 years                                                     77 non-null int64
Female: 20 years                                                            77 non-null int64
Female: 21 years                                                            77 non-null int64
Female: 22 to 24 years                                                      77 non-null int64
Female: 25 to 29 years                                                      77 non-null int64
Female: 30 to 34 years                                                      77 non-null int64
Female: 35 to 39 years                                                      77 non-null int64
Female: 40 to 44 years                                                      77 non-null int64
Female: 45 to 49 years                                                      77 non-null int64
Female: 50 to 54 years                                                      77 non-null int64
Female: 55 to 59 years                                                      77 non-null int64
Female: 60 and 61 years                                                     77 non-null int64
Female: 62 to 64 years                                                      77 non-null int64
Female: 65 and 66 years                                                     77 non-null int64
Female: 67 to 69 years                                                      77 non-null int64
Female: 70 to 74 years                                                      77 non-null int64
Female: 75 to 79 years                                                      77 non-null int64
Female: 80 to 84 years                                                      77 non-null int64
Female: 85 years and over                                                   77 non-null int64
Median Age                                                                  77 non-null float64
Total Households                                                            77 non-null int64
Average Household Size                                                      77 non-null float64
Total Housing Units                                                         77 non-null int64
Occupied Housing Units                                                      77 non-null int64
Vacant Housing Units                                                        77 non-null int64
Occupied Housing Units.1                                                    77 non-null int64
Owned with a mortgage or a loan                                             77 non-null int64
Owned free and clear                                                        77 non-null int64
Renter occupied                                                             77 non-null int64
dtypes: float64(2), int64(64), object(1)
memory usage: 40.4+ KB

In [6]:
summary_transformed = pd.merge(census_summary_df, community_df,
                               left_on='GeogKey', right_on='community number')

In [7]:
del summary_transformed['community name']
del summary_transformed['community number']

In [16]:
summary_transformed['population density'] = summary_transformed['Total Population'] / summary_transformed['community area']
summary_transformed['housing density'] = summary_transformed['Total Housing Units'] / summary_transformed['community area']
summary_transformed['vacated density'] = summary_transformed['Vacant Housing Units'] / summary_transformed['community area']
summary_transformed['vacated ratio'] = summary_transformed['Vacant Housing Units'] / summary_transformed['Total Housing Units']

In [17]:
summary_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 73 columns):
Geog                                                                        77 non-null object
GeogKey                                                                     77 non-null int64
Total Population                                                            77 non-null int64
Not Hispanic or Latino, White alone                                         77 non-null int64
Not Hispanic or Latino, Black or African American alone                     77 non-null int64
Not Hispanic or Latino, American Indian and Alaska Native alone             77 non-null int64
Not Hispanic or Latino, Asian alone                                         77 non-null int64
Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone    77 non-null int64
Not Hispanic or Latino, Some Other Race alone                               77 non-null int64
Not Hispanic or Latino, Two or More Races                                   77 non-null int64
Hispanic or Latino                                                          77 non-null int64
Male: Under 5 years old                                                     77 non-null int64
Male: 5 to 9 years                                                          77 non-null int64
Male: 10 to 14 years                                                        77 non-null int64
Male: 15 to 17 years                                                        77 non-null int64
Male: 18 and 19 years                                                       77 non-null int64
Male: 20 years                                                              77 non-null int64
Male: 21 years                                                              77 non-null int64
Male: 22 to 24 years                                                        77 non-null int64
Male: 25 to 29 years                                                        77 non-null int64
Male: 30 to 34 years                                                        77 non-null int64
Male: 35 to 39 years                                                        77 non-null int64
Male: 40 to 44 years                                                        77 non-null int64
Male: 45 to 49 years                                                        77 non-null int64
Male: 50 to 54 years                                                        77 non-null int64
Male: 55 to 59 years                                                        77 non-null int64
Male: 60 and 61 years                                                       77 non-null int64
Male: 62 to 64 years                                                        77 non-null int64
Male: 65 and 66 years                                                       77 non-null int64
Male: 67 to 69 years                                                        77 non-null int64
Male: 70 to 74 years                                                        77 non-null int64
Male: 75 to 79 years                                                        77 non-null int64
Male: 80 to 84 years                                                        77 non-null int64
Male: 85 years and over                                                     77 non-null int64
Female: Under 5 years old                                                   77 non-null int64
Female: 5 to 9 years                                                        77 non-null int64
Female: 10 to 14 years                                                      77 non-null int64
Female: 15 to 17 years                                                      77 non-null int64
Female: 18 and 19 years                                                     77 non-null int64
Female: 20 years                                                            77 non-null int64
Female: 21 years                                                            77 non-null int64
Female: 22 to 24 years                                                      77 non-null int64
Female: 25 to 29 years                                                      77 non-null int64
Female: 30 to 34 years                                                      77 non-null int64
Female: 35 to 39 years                                                      77 non-null int64
Female: 40 to 44 years                                                      77 non-null int64
Female: 45 to 49 years                                                      77 non-null int64
Female: 50 to 54 years                                                      77 non-null int64
Female: 55 to 59 years                                                      77 non-null int64
Female: 60 and 61 years                                                     77 non-null int64
Female: 62 to 64 years                                                      77 non-null int64
Female: 65 and 66 years                                                     77 non-null int64
Female: 67 to 69 years                                                      77 non-null int64
Female: 70 to 74 years                                                      77 non-null int64
Female: 75 to 79 years                                                      77 non-null int64
Female: 80 to 84 years                                                      77 non-null int64
Female: 85 years and over                                                   77 non-null int64
Median Age                                                                  77 non-null float64
Total Households                                                            77 non-null int64
Average Household Size                                                      77 non-null float64
Total Housing Units                                                         77 non-null int64
Occupied Housing Units                                                      77 non-null int64
Vacant Housing Units                                                        77 non-null int64
Occupied Housing Units.1                                                    77 non-null int64
Owned with a mortgage or a loan                                             77 non-null int64
Owned free and clear                                                        77 non-null int64
Renter occupied                                                             77 non-null int64
UTMGeometry                                                                 77 non-null object
community area                                                              77 non-null float64
population density                                                          77 non-null float64
housing density                                                             77 non-null float64
vacated density                                                             77 non-null float64
vacated ratio                                                               77 non-null float64
dtypes: float64(7), int64(64), object(2)
memory usage: 44.5+ KB

In [9]:
summary_transformed.to_pickle('data/census-summary-enhanced.pkl')